body{
    margin: 50px;
}
.css0{
    background-color: red;
    height: 300px;
    width: 300px;
    position: relative;
    border: 3px solid black;
}
.circle{
    background-color: greenyellow;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
}
.css1 { top: -20px; left: -20px; }
.css2 { top: -20px; right: -20px; }
.css3 { bottom: -20px; left: -20px; }
.css4 { bottom: -20px; right: -20px; }