body{
    background-color: hsl(222, 26%, 31%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.calculadora{
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.themes{
    background-color: hsl(222, 26%, 31%);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 0 5px;
    box-sizing: border-box;
}
.themes h1{
    margin: 0;
}


.theme-switcher{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.numbers{
    display: flex;
    justify-content: space-around;
}
.toggle{
    width: 70px;
    height: 25px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 15px;
    border: none;
    position: relative;
    cursor: pointer;

}
.circle{
    background-color: hsl(6, 63%, 50%);
    width: 15px;
    height: 15px;
    border-radius: 20px;
    position: absolute;
    align-self: center;
    transition: transform 0.3s ease;
}

.themes .dreta{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: x-small;
}
.dreta h3{
    align-self: center;
}
.display{
    background-color: hsl(224, 36%, 15%);
    width: 100%;
    height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.displaytext{
    color: white;;
    width: 100%;
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}
.pad{
    background-color: hsl(223, 31%, 20%);
    width: 100%;
    flex: 1;
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;
}
.pad button{
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: xx-large;
    background-color: hsl(0, 0%, 90%);
    color: hsl(221, 14%, 31%);

    box-shadow: 0 4px hsl(28, 16%, 65%);
    transition: all 0.1s ease-in-out;
}

.pad button:active{
    background-color: hsl(15, 10%, 92%);
    box-shadow: 0px 2px hsl(35, 11%, 61%);
    transform: translateY(2px);
}

.pad button.blue{
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 4px hsl(224, 28%, 35%);
    color: hsl(0, 100%, 100%) ;
}
.pad button.blue:active{
    background-color: hsl(230, 40%, 75%);
    box-shadow: 0px 2px hsl(230, 20%, 45%);
    transform: translateY(2px);
}

.pad button.red{
    color: white;
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 4px hsl(25, 99%, 27%);
}
.pad button.red:active{
    background-color: hsl(11, 82%, 76%);
    box-shadow: 0 2px hsl(6, 70%, 34%);
    transform: translateY(2px);
}
.tecla{
    width: 100%;
    height: 100%;
}
.reset{
    grid-area: 5 / 1 / 6 / 3;
}
.igual{
    grid-area: 5 / 3 / 6 / 5;
}

body[data-theme="1"] .circle { transform: translateX(0px);}
body[data-theme="2"] .circle { transform: translateX(21px);}
body[data-theme="3"] .circle { transform: translateX(43px);}

body[data-theme="2"] {
    background-color: hsl(0, 0%, 90%);

    .themes{
        background-color: hsl(0, 0%, 90%);
        color: hsl(60, 10%, 19%);
    }
    .toggle{
        background-color: hsl(0, 5%, 81%);
    }
    .circle{
        background-color: hsl(25, 98%, 40%);
    }
    .display{
        background-color: hsl(0, 0%, 93%);
    }
    .displaytext{
        color: hsl(60, 10%, 19%);
    }
    .pad{
        background-color: hsl(0, 5%, 81%);
    }
    .pad button.blue{
        background-color: hsl(185, 42%, 37%);
        box-shadow: 0 4px hsl(185, 58%, 25%);
    }
    .pad button.blue:active{
        background-color: hsl(190, 61%, 53%);
        box-shadow: 0 2px hsl(190, 65%, 28%);
    }
    .pad button.red{
        background-color: hsl(25, 98%, 40%);
        box-shadow: 0 4px hsl(25, 99%, 27%);
    }
    .pad button.red:active{
        background-color: hsl(30, 81%, 55%);
        box-shadow: 0 2px hsl(30, 91%, 30%);
    }
}

@media (max-width: 375px) {
    body{
        margin: 30px 20px;
    }
    .calculadora{
        gap: 30px;
    }
    .display{
        height: 90px;
    }
    .displaytext{
        font-size: 22px;
    }
    .pad{
        gap: 15px;
        padding: 20px;
    }
}

body[data-theme="3"] {
    background-color: hsl(268, 75%, 9%);
    background-image: url(images/planteasbackground.png);
    background-size: cover;

    .themes{
        background-color: transparent ;
        color: hsl(52, 100%, 62%);
    }
    .toggle{
        background-color: hsl(268, 71%, 12%);
    }
    .circle{
        background-color: hsl(176, 100%, 44%);
    }
    .display{
        background-color: hsl(268, 71%, 12%);
    }
    .displaytext{
        color: hsl(52, 100%, 62%);
    }
    .pad{
        background-color: hsl(268, 71%, 12%);
    }
    .pad button{
        background-color: hsl(281, 89%, 26%);
        box-shadow: hsl(285, 91%, 52%);
        color: hsl(52, 100%, 62%);
    }
    .pad button:active{
        background-color: hsl(280, 82%, 53%);
        box-shadow: hsl(285, 84%, 63%);
    }
    .pad button.blue{
        background-color: hsl(268, 47%, 21%);
        box-shadow: 0 4px hsl(290, 70%, 36%);
    }
    .pad button.blue:active{
        background-color: hsl(281, 82%, 53%);
        box-shadow: 0 2px hsl(290, 70%, 24%);
    }
    .pad button.red{
        background-color: hsl(176, 100%, 44%);
        box-shadow: 0 4px hsl(177, 92%, 70%);
        color: hsl(198, 20%, 13%);
    }
    .pad button.red:active{
        background-color: hsl(176, 100%, 50%);
        box-shadow: 0 2px hsl(177, 41%, 34%);
    }
}